<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Baron Ring Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/animsition.min.css">
    <link rel="stylesheet" href="../styles/style.css">
     <link rel="icon" href="../favicon.png">
  </head>


  <body>
   
 <div class="border">
           <div class="overlay3">

            <div class="categories">
                <!--<a href="" ng-click="controlPanel()">-->
                    <h4 class="text-center"><img src="../images/categories-icon.png">CATEGORIES</h4>
                <!--</a>-->
            </div>
                <div class="control-panel"><a ng-click="controlPanel()">
                     <div class="space">
                <a href="../index.html"><img src="../images/ring-logo.png"></a>
                <!--<p class="text-center">Baron Championship Rings</p>-->
                <h1 class="text-center ringGuide">RING GUIDE</h1>
            </div>
                    <ul>
                        <li><a class="text-center list" href="../index.html">Dashboard</a></li>
                        <li><a class="text-center" href="design.html">Design Guidelines</a></li>
                        <li><a href="drafting.html">Drafting Guidelines</a></li>
                        <li><a class="active" href="stone.html">Stone Limitations</a></li>
                        <li><a href="production.html">Production Problems</a></li>
                        <li><a href="casting.html">Casting Problems</a></li>
                        <li><a href="rendering.html">Rendering Glass & Stones</a></li>
                        <li><a href="search.html">Search</a></li>
                     </ul>    
                 </div>
                 <form class="form1">
                     <label class="text-center">Search by tag</label>
                        <input  type="text" />
                        <input  id="searchBox"  type="submit"/>
                 </form>
                 <div class="copyright">
                     <hr>
                     <p class="text-center">BARON CHAMPIONSHIP RINGS</p>
                     <p class="text-center year"></p>
                 </div>
            </div>
 </div>
<div class="topBar">
    <div class="overlay3">
    </div>
    </div>
  <div class="main" >
    <div class="container-fluid">
    <h1 class="headlines"><span>Stone</span><br>&nbsp;&nbsp;&nbsp; Limitations</h1>
    <hr>
    <div class="container-fluid">
             <h4><a href="stone_subviews/standard.html"><b>STANDARD STONE LIMITATIONS</b></a></h4>
             <h4><a href="stone_subviews/custom.html"><b>CUSTOM STONE LIMITATIONS</b></a></h4>
    </div>
    </div>
  </div>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/f08d62a54f.js"></script>
 <script src="../scripts/animsition.min.js"></script>
 <script src=../scripts/app.js></script>
</body>

  
</html>
