<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Baron Ring Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/animsition.min.css">
    <link rel="stylesheet" href="../../styles/style.css">
     <link rel="icon" href="../../favicon.png">
  </head>


  <body>
   <div class="overlay2">
 <div class="border">
       <div class="overlay3">     

            <div class="categories">
                <!--<a href="" ng-click="controlPanel()">-->
                    <h4 class="text-center"><img src="../../images/categories-icon.png">CATEGORIES</h4>
                <!--</a>-->
            </div>
                <div class="control-panel"><a ng-click="controlPanel()">
                    <div class="space">
                <a href="../../index.html"><img src="../../images/ring-logo.png"></a>
                <!--<p class="text-center">Baron Championship Rings</p>-->
                <h1 class="text-center ringGuide">RING GUIDE</h1>
            </div>
                    <ul>
                        <li><a class="text-center list" href="../../index.html">Dashboard</a></li>
                        <li><a class="text-center" href="../design.html">Design Guidelines</a></li>
                        <li><a class="active" href="../drafting.html">Drafting Guidelines</a></li>
                        <li><a href="../stone.html">Stone Limitations</a></li>
                        <li><a href="../production.html">Production Problems</a></li>
                        <li><a href="../casting.html">Casting Problems</a></li>
                        <li><a href="../rendering.html">Rendering Glass & Stones</a></li>
                        <li><a href="../search.html">Search</a></li>
                     </ul>    
                 </div>
                 <form class="form1">
                     <label class="text-center">Search by tag</label>
                        <input  type="text" />
                        <input  id="searchBox" type="submit"/>
                 </form>
                 <div class="copyright">
                     <hr>
                     <p class="text-center">BARON CHAMPIONSHIP RINGS</p>
                     <p class="text-center year">@2017 All Rights Reserved</p>
                 </div>
            </div>
 </div>
<div class="topBar">
    <div class="overlay3">
    </div>
    </div>
  <div class="main" >
    <div class="container-fluid">
    <h1 class="headlines">LOGOS</h1>
    <hr>
    <div id="draftingLogoItemsContainer" class="container-fluid" style="overflow:auto;height:60vh;">
             <!--<li class = "li">- Any raised logo on glass enamel that isn't pinned on needs a lower outline to keep the enamel from riding up.  It looks horrible though.  I suggest to always pin logos in this case.</li>
             <li class = "li">- Pinned logos with huge stones in them can cause problems pinning later on.  Essentially the stone is too deep and likes to invade the base part of the ring and allow things to pop up.  It is avoidable but there are problems.Any plating of any sort being in play means all the stones must be prong set or glued.  Gypsey and bead set stones don’t mix with this scenario at all.</li>
             <li class = "li">- All pinned logos are 99% of the time required to be connected as one full piece.  They need a lower backing area that connects separate pieces to form one simpler pin.  If someone asks for WORLD to be pinned, they won't do every letter, just one solid shape.</li>
             <li class = "li">- For layered glass enamel logo looks, exaggerate the levels quite a bit.  Small steps don’t pop in real life.</li>
             <li class = "li">- Pinned logos over a thin line that is enamel.  A thin line you won't notice the bad enamel warping so it can be technically printed all as one piece.  If the logo is pinned over a solid full background of enamel.  You will want to make that as a separate piece.</li>
             <li class = "li">- Pinned logos on stones that overhang the borders of the stone are ok to do.  It isn’t awesome but it is possible.</li>
             <li class = "li">- The NCAA logo by itself has BLUE 300 as the colour.The NCAA Sport specific icon has BLUE 274 & BLUE 300.NCAA circle logo and sport logo is never to be 1D scaled. Always keep the NCAA circle logo as a circle, never as an oval on a ring.</li>
             <li class = "li">- For antiquing, try to stick to one level logos for this.  It's possible to do still but if every ring has a 8 layered weird trophy shape and an antiqued background, it's very difficult to paint only the background and not accidentally hit the other 8 levels by accident.  Once it's on there, it's stained permanently.  Kind of evaluate this depending on the team though.  If it’s NBA, we’ll find a way.  If it’s high school, it isn’t worth the trouble.</li>
             <li class = "li">- We cannot pin a logo into a faceted stone.  It would need to have a flat bottom.  Faceted stones all come to a point, if a drill goes into that zone, it shatters the stone.  For a design we can get away with this but drafting will build a stone so that it isn’t pointed later on.</li>
             <li class = "li">- For the smaller ladies rings, pinned logos over the tiny stones isn’t allowed.  Any small stone this stands for but the requests come in this way often and it gets designed by accident.  Avoid please.</li>                                       -->
    </div>
    <divclass="container-fluid">
             <!--<li class = "li">- On bands, avoid stamping engraving inside a ring and then stamping on the outside of the ring as well.  The two recessed areas cause a very thin 'in between' layer that fails.  Ring needs to be made thicker to compensate if this is a requirement.</li>
             <li class = "li">- Just use scratch engraving on bands.  There are likely some exceptions though but wait for that to be requested vs doing it automatically.</li>
             <li class = "li">- Any plug inserted into the engraving of a ring... like cavs!  Needs to be smaller-ish so they can insert it.  If the plug is massive, imagine trying to position it into that spot later on?  Smart flowing this part is actually a bad idea.  It needs straight walls up and down.</li>
             <li class = "li">- Any stamped engraving on a band whatsoever needs to be reviewed in your head.  Really look at it and ensure it doesn't screw with something somewhere.  This happens a lot.  Sounds simple but really look it over.  Think of how one area dropping inside of a ring and how it might make another area too thin.</li>                                      -->
    </div>
    <div class="container-fluid button-container">
        <button data-path="drafting/logo" class="btn addItems">Add Guideline</button>
        <!--<button class="btn">Edit Item</button>-->
        <button class="btn deleteItems">Delete Guideline</button>
        <button class="btn cancelGuideline">Cancel</button>
        <button class="btn deleteGuideline">Delete Guideline</button>
    </div><!--end button container-->
  </div>
    </div>

    <!--modal double check-->
    
    <form class="form3">
        <h3>Are you sure want to delete guideline?</h3>
        <div class="question">
            <button data-path="drafting/logo" class="btn yes">Yes</button>
            <button class="btn no">No</button>
        </div>
    </form>
    

    <!--modal form-->
    <div class="form-modal">
        <form class="form2">
            <div class="form-header">
                
                <span>Add New Guideline</span>
            </div><!--end form header-->
            <div class="form-content">
                <textarea class="addItemText" value="message"></textarea>
            </div>
            <div class="form-footer">
                <button class="btn cancel">Cancel</button>
                <button class="btn submit">Submit</button>
            </div><!--end form footer-->
        </form>
        </div><!--end modal form-->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/f08d62a54f.js"></script>
 <script src="../../scripts/animsition.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
 <script type="text/javascript" src="../../scripts/app.js"></script>
 <script type="text/javascript" src="../../scripts/database.js"></script>
</body>

  
</html>
